/* reset */
html,
body {
    height: 100%;
    color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

html,
body,
p,
h2,
ul,
li,
input,
select,
button {
    margin: 0;
    padding: 0;
}

input {
    border: 0
}

a {
    text-decoration: none;
}
/* end reset */
/* layout */
.pos_container{
    width: 100%;
}
/* end  */